.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  margin: 1rem 0;
  padding-left: 1rem;
}

.content {
  grid-column: 1 / 2;
}

.info {
  grid-column: 2 / 3;
  color: #fff;
  background: #2b0278;
}
